@media screen and (max-width:860px) {
    .header_sub_container{
        flex-wrap: wrap;
        height: fit-content;
        justify-content:space-evenly;

    }
    .navBar_right_image_container{
        max-width: 0px;
       
    }
    
    .navBar_right_image_container img{
        display: none;
    }
    .baner_icon{
       width: 40px;
    }
    .input_searchbar_container {
        display: none;

    }
    .header_container{
        padding-right: 20px;
    }
   
}
@media screen and (max-width:969px){
    .singUp{
        justify-content: center;
        align-items: center;
    }
}

